* {
    padding: 0;
    margin: 0;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(36, 36, 36);
}


.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 247);
    gap: 50px;
}

.main-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
    margin-top: 25px;
}

.main-container a {
    text-decoration: none;
    font-size: 23px;
    color:rgb(88, 88, 88);
    transition: transform 0.3s ease; /* Smoothing tansition effect */
}

.main-container a:hover {
    color:rgb(107, 107, 107);
    transform: scale(1.5); /* Scales the button when hovered over */
}

.visible {
    display: block;
    opacity: 1;
}

.about-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 80%;
    margin: 0px auto;
    transition: max-height 2.0s ease, opacity 3s ease; /* Smooth transition for height change */
}

.about-content.visible {
    max-height: 200px; /* Adjust the maximum height as needed */
    opacity: 1;
}

.horizontal-scroll-container img {
flex: 0 0 auto;
margin-right: 10px; /* Adjust spacing between photos */
}

.horizontal-scroll-container {
    width: 100vw; /* Full width of the viewport */
    white-space: nowrap; /* Prevent images from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    display: flex; /* Use flexbox layout for horizontal alignment */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.horizontal-scroll-container img {
    max-height: 80vh; /* Maximum height of the viewport for images */
    max-width: none; /* Allow images to retain their original aspect ratio */
    margin-right: 10px; /* Add space between images */
}

.horizontal-scroll-container::-webkit-scrollbar {
    width: 0;  /* Make scrollbar width 0 */
}

section {
    opacity: 0.8;
    transition: opacity 0.6s ease; /* Add transition for opacity change */
}

/* Add CSS for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-container {
    display: flex;
    justify-content: center; /* Center horizontally */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: calc(50% - 250px); /* Adjust left position to center the menu */
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px;
    width: 100px;
    gap: 20px;
    box-shadow: 2px 2px 3px 2px rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

/* Style the dropdown button */
.dropdown-button {
    background-color: transparent;
    color: rgb(66, 66, 66);
    margin-top: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

