* {
    padding: 0;
    margin: 0;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(36, 36, 36);
}


.main-container {
    display: flex;
    flex-direction: column;
    background-image: url('/static/img/Background.png'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed; /* Keep the background fixed when scrolling */
    gap: 50px;
}

.main-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
    margin-top: 25px;
}

.main-container a {
    text-decoration: none;
    font-size: 23px;
    color:rgb(88, 88, 88);
}

.main-container li {
    transition: transform 0.3s ease; /* Smoothing tansition effect */
}

.main-container li:hover {
    transform: scale(1.08); /* Scales the button when hovered over */
}

.visible {
    display: block;
    opacity: 1;
}

.about-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 80%;
    margin: 0px auto;
    transition: max-height 2.0s ease, opacity 3s ease; /* Smooth transition for height change */
}

.about-content.visible {
    max-height: 200px; /* Adjust the maximum height as needed */
    opacity: 1;
}

.about-name {
    color:rgb(122, 97, 118);
    font-size: 22px;
}

.horizontal-scroll-container img {
flex: 0 0 auto;
margin-right: 10px; /* Adjust spacing between photos */
}

.horizontal-scroll-container {
    width: 100vw; /* Full width of the viewport */
    white-space: nowrap; /* Prevent images from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    display: flex; /* Use flexbox layout for horizontal alignment */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.horizontal-scroll-container img {
    max-height: 80vh; /* Maximum height of the viewport for images */
    max-width: none; /* Allow images to retain their original aspect ratio */
    margin-right: 10px; /* Add space between images */
}

.horizontal-scroll-container::-webkit-scrollbar {
    width: 0;  /* Make scrollbar width 0 */
}

section {
    opacity: 0.8;
    transition: opacity 0.6s ease; /* Add transition for opacity change */
}

/* Add CSS for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-container {
    display: flex;
    justify-content: center; /* Center horizontally */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: calc(50% - 250px); /* Adjust left position to center the menu */
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 253, 250);
    padding: 20px;
    width: 100px;
    box-shadow: 2px 2px 3px 2px rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

/* Style the dropdown button */
.dropdown-button {
    background-color: transparent;
    color: rgb(122, 97, 118);
    margin-top: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* back to top button */
#scrollToTopBtn {
    margin: 0px auto;
    width: 150px;
    padding: 5px;
    background: rgb(254, 250, 245);
    border: none;
    box-shadow: 2px 2px 3px 2px rgb(227, 227, 227);
    border-radius: 10px;
}

.bottom-nav {
    background-color: rgb(189, 174, 154);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav p{
    font-size: 22px;
    margin-left: 40px;
    color:rgb(255, 255, 255);
}

.bottom-link-container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    height: 100%;
    gap: 50px;
}

.bottom-link-container img {
    width: 60px;
    height: auto;
}